pkgbase = proximity-tools
	pkgdesc = Proximity detection tools.
	pkgver = 0.0.0.0.0.0.0.0.0.0.0.0.1.1
	pkgrel = 1
	url = https://github.com/themartiancompany/proximity-tools
	arch = any
	license = AGPL3
	checkdepends = shellcheck
	makedepends = make
	depends = libcrash-bash
	depends = android-wifi-utils
	source = proximity-tools-8579af4a787175d03a2b244ccdab1efbfeb820f3.zip::https://github.com/themartiancompany/proximity-tools/archive/8579af4a787175d03a2b244ccdab1efbfeb820f3.zip
	validpgpkeys = 97E989E6CF1D2C7F7A41FF9F95684DBE23D6A3E9
	validpgpkeys = DD6732B02E6C88E9E27E2E0D5FC6652B9D9A6C01
	sha256sums = 472a6dad4b7ba57bd06b4600b47f363d3766a3872d136e4ba03d862811cb498a

pkgname = proximity-tools
