pkgbase = proximity-tools
	pkgdesc = Proximity detection tools.
	pkgver = 0.0.0.0.0.0.0.0.0.0.0.0.1
	pkgrel = 1
	url = https://github.com/themartiancompany/proximity-tools
	arch = any
	license = AGPL3
	checkdepends = shellcheck
	makedepends = make
	depends = libcrash-bash
	depends = android-wifi-utils
	source = proximity-tools-fd7feac6d5219c2ac3f154248634f373f4ca60f2.zip::https://github.com/themartiancompany/proximity-tools/archive/fd7feac6d5219c2ac3f154248634f373f4ca60f2.zip
	validpgpkeys = 97E989E6CF1D2C7F7A41FF9F95684DBE23D6A3E9
	validpgpkeys = DD6732B02E6C88E9E27E2E0D5FC6652B9D9A6C01
	sha256sums = b6e9e236b12437c16ec3d3b10643f13723440177d3125fe5a7bc4852c2693d95

pkgname = proximity-tools
